<!DOCTYPE html>
<html lang="en">

  <head>
    {% block title %}<title>Demo</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block style %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>

  <body>
    {% block main %}
    {% endblock %}
  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  {% block script %}
  {% endblock %}

</html>