<div class="tw-p-4 tw-space-y-4">
  <div>
    Arrow
  </div>
  <div class="tw-pl-12 tw-space-y-8">

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-up"
      </div>
      <div class="brand-arrow-up"></div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-down"
      </div>
      <div class="brand-arrow-down"></div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-left"
      </div>
      <div class="brand-arrow-left"></div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-right"
      </div>
      <div class="brand-arrow-right"></div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-up tw-border-success-500"
      </div>
      <div class="brand-arrow-up tw-border-success-500"></div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-arrow-up tw-border-error-500"
      </div>
      <div class="brand-arrow-up tw-border-error-500"></div>
    </div>

  </div>
</div>