<div class="tw-p-4 tw-space-y-4">
  <div>
    Avatar
  </div>
  <div class="tw-pl-12 tw-space-y-2">
    <div class="tw-font-mono">
      class="brand-avatar-list"
    </div>
    <div class="tw-font-mono">
      class="brand-avatar"
    </div>
    <div class="tw-font-mono">
      class="brand-avatar-text"
    </div>
    <div class="brand-avatar-list">
      {% load static %}
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <img class="brand-avatar" src="{% static 'img/avatar_sample.png' %}" alt="" />
      <div class="brand-avatar-text">
        +700
      </div>
    </div>
  </div>
</div>