<div class="tw-p-4 tw-space-y-4">
  <div>
    Bar
  </div>
  <div class="tw-pl-12 tw-space-y-8">

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-bar-sm"
      </div>
      <div class="tw-font-mono">
        class="brand-bar-inside" style="width:50%"
      </div>
      <div class="brand-bar-sm">
        <div class="brand-bar-inside" style="width:50%"></div>
      </div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-bar-md"
      </div>
      <div class="tw-font-mono">
        class="brand-bar-inside" style="width:50%"
      </div>
      <div class="brand-bar-md">
        <div class="brand-bar-inside" style="width:50%"></div>
      </div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-bar-sm tw-bg-success-100"
      </div>
      <div class="tw-font-mono">
        class="brand-bar-inside tw-bg-success-500" style="width:50%"
      </div>
      <div class="brand-bar-sm tw-bg-success-100">
        <div class="brand-bar-inside tw-bg-success-500" style="width:50%"></div>
      </div>
    </div>

  </div>
</div>