<div class="tw-p-4 tw-space-y-4">
  <div>
    Button
  </div>
  <div class="tw-pl-12 tw-space-y-8">

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-md"
      </div>
      <button class="brand-btn-md">
        Button
      </button>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-lg"
      </div>
      <button class="brand-btn-lg">
        Button
      </button>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-md tw-bg-primary-500"
      </div>
      <button class="brand-btn-md tw-bg-primary-500">
        Button
      </button>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-md tw-bg-primary-100 tw-text-primary-500"
      </div>
      <button class="brand-btn-md tw-bg-primary-100 tw-text-primary-500">
        Button
      </button>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-md tw-bg-secondary-500"
      </div>
      <button class="brand-btn-md tw-bg-secondary-500">
        Button
      </button>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-btn-md tw-bg-secondary-100 tw-text-secondary-500"
      </div>
      <button class="brand-btn-md tw-bg-secondary-100 tw-text-secondary-500">
        Button
      </button>
    </div>

  </div>
</div>