<div class="tw-p-4 tw-space-y-4">
  <div>
    Card
  </div>
  <div class="tw-pl-12 tw-space-y-8">

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-card"
      </div>
      <div class="brand-card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed aliquid quis illo mollitia. Eius sequi
        provident ad culpa, magni unde nobis necessitatibus voluptatum! Sunt, cum animi. Similique, repellendus
        voluptates.
      </div>
    </div>

    <div class="tw-space-y-2">
      <div class="tw-font-mono">
        class="brand-card-transparent"
      </div>
      <div class="brand-card-transparent">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed aliquid quis illo mollitia. Eius sequi
        provident ad culpa, magni unde nobis necessitatibus voluptatum! Sunt, cum animi. Similique, repellendus
        voluptates.
      </div>
    </div>

  </div>
</div>