<div class="tw-p-4 tw-space-y-4">
  <div>
    Tab
  </div>
  <div class="tw-pl-12 tw-space-y-4">
    <div class="tw-font-mono">
      class="brand-tabs"
    </div>
    <div class="tw-font-mono">
      class="brand-tab"
    </div>
    <div class="tw-space-y-2">
      <div class="tw-bg-white">
        <div id="tabs">
          <ul class="brand-tabs">
            <li>
              <a class="brand-tab" href="#tab-content-1">
                Overview
              </a>
            </li>
            <li>
              <a class="brand-tab" href="#tab-content-2">
                People
              </a>
            </li>
            <li>
              <a class="brand-tab" href="#tab-content-3">
                Agenda
              </a>
            </li>
          </ul>
          <div class="tw-p-8">
            <div id="tab-content-1">
              Overview
            </div>
            <div id="tab-content-2">
              People
            </div>
            <div id="tab-content-3">
              Agenda
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>